ul {
    display: flex;
    gap: 2rem;
}
div {
    display: flex;
    justify-content: left;
    background-color: brown;
    padding: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
img {
    margin-right: 2rem;
}
.primary-header {
    align-items: center;
    justify-content: space-evenly;
    background-color: brown;
}
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: blueviolet;
}
.active {
    font-weight: 900;
}